@import "./variables";
@import "./home";
@import "./about";
@import "./signup";

@font-face {
  font-family: "Cocogoose";
  src: local("cocogoose"), url("../Fonts/cocogoose/Cocogoose\ Pro-trial.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  //   border: 1px solid black;
}
