@import "./variables";
@import "./home";
@import "./about";
@import "./schedule";

@font-face {
  font-family: "cocogoose";
  src:
    local("cocogoose"),
    url("../Fonts/cocogoose/COCOGOOSE-PRO.REGULAR.TTF") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  // border: 1px solid black;
}

header {
  color: $darkColor;
  background-image: url(../Assets/background-img.jpg);
  padding-bottom: 15px;

  nav {
    i {
      color: $darkColor;
      font-size: 30px;
      padding: 15px;
    }

    a {
      img {
        width: 25%;
      }
    }

    div {
      a {
        text-decoration: none;
        color: $darkColor;
        padding: 15px;
      }
    }
  }
}

.top-footer {
  color: $lightColor;
  background-color: $darkColor;
  text-align: center;
  padding: 15px 0 10px 0;

  h1 {
    font-size: 22px;
    font-weight: 400;
  }

  hr {
    color: $highlightColor;
    width: 10%;
    height: 2px;
    margin: 20px auto;
  }

  .fab {
    font-size: 30px;
  }

  a {
    color: $lightColor;
  }

  .top-icons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }

  .bottom-icons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }
}

.bottom-footer {
  display: flex;

  img {
    width: 50%;
    flex: 1;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    flex: 1;

    p {
      font-size: 12px;
      margin: 0;
    }
  }
}

@media (min-width: 768px) {
  header {
    color: $darkColor;
    background-image: url(../Assets/background-img.jpg);
    padding-bottom: 15px;

    nav {
      align-items: center;
      padding: 50px;

      a {
        img {
          width: 40%;
        }
      }
    }
  }

  .top-footer {
    padding-top: 40px;

    h1 {
      font-size: 26px;
      font-weight: 400;
    }

    hr {
      width: 5%;
      height: 3px;
      margin: 30px auto;
    }

    .fab {
      font-size: 40px;
    }

    .top-icons {
      padding-bottom: 35px;
    }

    .bottom-icons {
      padding-bottom: 35px;
    }
  }

  .bottom-footer {
    img {
      width: 25%;
      flex: 1;
    }

    .copyright {
      flex: 4;

      p {
        font-size: 18px;
      }
    }
  }
}
